@CHARSET "UTF-8";
@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);
	* {
		font-family: 'Nanum Gothic', serif;
		font-size: 15px;
		font-weight: bold;
	}
	header {
		margin-top: 20px;
	}
	footer{
		padding-bottom : 100px;
		background : black;
		color: white;
	}
	#menubar {
		margin-top : 20px;
		text-align: center;
	}
	#logo {
		height: 100%;
	}
	.menuNav {
		padding: 10px;
		text-align: center;
		margin-left: 20px;
		margin-right: 20px;
	}
	.home {
		background: gray; 
		border-top-left-radius:1em; 
		border-top-right-radius:1em; 
		border-bottom-right-radius:1em; 
		border-bottom-left-radius:1em;
	}